<h2>Las Celebridades</h2>


<ul>
  <% celebrities.forEach(function(celebrities){ %>
      <li>
          <a href="/celebrities/<%=celebrity.name%>">
              <h2>Titulo: <%=celebrity.name%></h2>
          </a>
      </li>
 <% }) %>
</ul>