<h2>Las Celebridades</h2>

<ul>
    <% for(let i = 0; i < celebrities.length; i++) { %>
      <li>
        <a href="/celebrities/:id/<%= celebrities[i].id%>"><%= celebrities[i].name %></a>
      </li>
      <% } %>
  
</ul>


